@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://sun9-65.userapi.com/impg/Y7UynE_mz9AqfjMPeuG8vo0bDz9s3z1WgbTJ6A/oF4STwQK0sc.jpg?size=1920x1080&quality=96&sign=98476317ff1265d178da9760aaebe67e&type=album");
    
}

.container {
    max-width:1110px;
}

.title-h1 {
    font-size: 52px;
}

.shop-item {
    height: 357px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.shop-item01 {
    background-image: url("https://sun9-52.userapi.com/impg/qCGeHhUaP-4m5qTzN5napTDjzK3DR7eOPMtbWA/uMaERS7qDF8.jpg?size=999x831&quality=96&sign=dd55d8cd887246b9d1f4a95cb73343b6&type=album");
   
}
.shop-item02 {
    background-image: url(https://sun9-5.userapi.com/impg/bAAGSVIXdj3X4KPx2CrNYDQx9pvTHh3DmkZpJg/BEkqTAUe058.jpg?size=999x831&quality=96&sign=589f8bac104936e30a936928d7426fb4&type=album);
    
}
.shop-item03 {
    background-image: url("https://sun9-35.userapi.com/impg/cX7CNHjeDtW_tRkEtFBJ7dv_KtL9OO6w9Fasdw/XUZTUn-42C8.jpg?size=999x831&quality=96&sign=366502006b2dcdc42424ec807e2137f5&type=album");

}

.w-100 {
    padding-top:30px;
    filter:brightness(105%);
}

.Sale {
    font-family: 'Rubik', sans-serif;
    background-color: #083C6E;
    color: #fff;
    text-transform: uppercase;
    padding:11px 20px 10px;
    position: absolute;
    top:13px;
    left:13px;
    font-size: 14px;
}


.text-info {
    position: absolute;
    bottom:0;
    left:0.8rem;
    right:0;
    width:100%;
    background-color: #083C6E;
    padding-top:10px;
    padding-bottom: 10px;
    
}
.text-info .col-4 {
    text-align:right;
}

.text-info h3 {
    font-size: 20px;
    color:#fff;
    margin-bottom: 0;
}

.text-info p {
    font-size: 18px;
    color:#fff;
    border: 1.5px solid #fff;
    border-radius: 5px;
    padding: 5px 16px;
    margin-bottom: 0;
}

.w-100 mt-3 mb-5 {
    opacity:0.2;
}


.namen {
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
}

.silka {
    text-decoration: none;
    color:black;

}
.silka:hover {
    text-decoration: none;
    color:black;
}

.copyright {
    text-align:right;
    opacity:0.7;
}
